<form action="/wagers" method="post">
    <label for="amount">Amount:</label>
    <input type="number" id="amount" name="amount">
    
    <label for="date">Date:</label>
    <input type="date" id="date" name="date">
    
    <input type="submit" value="Add Wager">
</form>