<!doctype html>
<html>
  <head>
    <title>Wager</title>
    <meta charset="UTF-8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <header>
        <span>Wager</span>
    </header>
    <nav class="main-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/public/about.html">About</a></li>
            <li><a href="/register">Get Started</a></li>
            <li><a href="/login">Log in</a></li>
        </ul>
    </nav>
    <main class="website">
        <section class="header">
            <h1>Wager Wisely</h1>
            <p>
                Welcome to <span>Wager</span> - your pocket croupier for smart betting and smarter saving. We balance the thrill with the bill, and if you're ready to cash out from gambling, we're here to guide you. Bet on a brighter financial future!
            </p>
        </section>
        <section>
        
        </section>
    </main>
  </body>
</html>
