<!doctype html>
<html>
  <head>
    <title>Wager</title>
    <meta charset="UTF-8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <header>
        <span>Wager</span>
    </header>
    <nav class="main-nav">
        <ul class="flex-item">
            <li><a href="/">Home</a></li>
            <li><a href="/public/about.html">About</a></li>
            <li><a href="/register">Get Started</a></li>
            <li><a href="/login">Log in</a></li>
        </ul>
    </nav>
    <main class="flex-container">
        <section class="header flex-item">
            <h1>Wager</h1>
            <p>
                Welcome to <span>Wager</span> - your pocket croupier for smart betting and smarter saving. We balance the thrill with the bill, and if you're ready to cash out from gambling, we're here to guide you. Bet on a brighter financial future!
            </p>
        </section>
        <section class="flex-item">
            <h2>How it works</h2>
            <p>
                <span>Wager</span> is a simple, easy-to-use app that helps you manage your gambling. We'll help you set a budget, track your spending, and save for the future. We'll even help you find a financial advisor to help you make the most of your winnings.
            </p>
            <p>
                <span>Wager</span> is free to use, and we'll never sell your data. We're here to help you make the most of your money, and we'll never charge you for that.
            </p>
        </section>
    </main>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
